<div class="title">about</div>

<div class="content">
  <p>
    The music duo "Jaief & Asong" came to life in 2014 during a musical event
    where both friends talked about their passion for making quality rap music,
    and their desire to experiment across genres. With the help of longtime
    friend and producer
    <a target="_blank" href="https://www.instagram.com/kasakustix/"
      >"KasAkustix"</a
    >
    , the duo released their debut project “EARWORMS” in the fall of 2014.
    Fueled by lively instruments, effortless flows and feel-good melodies on
    songs like “Earworm,” “Been Waiting,” and “Glow,” the project would amass
    over 2 million streams; over 300,000 downloads and several sync licenses –
    on the music platform, Jamendo alone. The song “Earworm” was cited on the
    radio program trackback by Berlin-based radio, Radio Fritz, as having what
    it takes to contend for “Song of the Year 2015.” Their 2016 single “Get
    Away“; a chill and positive rap/soul song featuring beautiful vocals from
    Jazz/Soul singer, Rebekka Salomea would garner mostly critical acclamation.
    In 2017, the song would be selected by the record label Bosworth Creative
    and Fritz Radio, and would be aired live on the Radio Show “Fritz Unsigned”
    on Fritz Radio in Berlin. Besides being hip-hop heads at heart, both friends
    also share a bunch of other interests including; sports, politics, and
    science – especially astronomy, which leaves traces from time to time in
    their raps. As individuals, their musical tastes transcends hip-hop to other
    genres like country, jazz, soul, rock, pop, afropop, electronic music, etc.
  </p>
</div>

<app-footer></app-footer>
