<div class="video">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/_kiSiKHYI3c"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<div class="newsletter">
  <mat-card>
    <mat-card-header>
      <mat-card-title style="font-style: italic; font-weight: bold"
        >BE THE FIRST</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        Sign up and be the first to get notified everytime we release new music
        <span
          ><mat-icon style="transform: rotate(-25deg)">campaign</mat-icon></span
        >
      </p>
      <!--  <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="txt" />
      </mat-form-field> -->
      <mat-form-field appearance="outline">
        <mat-label>Enter your e-mail</mat-label>
        <input matInput type="email" [formControl]="subscriberEmail" />
        <mat-error *ngIf="subscriberEmail.invalid">{{
          getErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="onClickSubscribe()">
        Yes, sign me up
      </button>
    </mat-card-content>
  </mat-card>
</div>

<app-footer></app-footer>
