/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@import "@angular/material/theming";
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$mytheme-primary: mat.define-palette(mat.$blue-grey-palette, 900); // #263238
$mytheme-accent: mat.define-palette(mat.$grey-palette, 300); // #e0e0e0
$mytheme-warn: mat.define-palette(mat.$pink-palette, 800); // #ffab91

$mytheme-all: mat.define-light-theme(
  $mytheme-primary,
  $mytheme-accent,
  $mytheme-warn
);
@include mat.all-legacy-component-themes($mytheme-all);

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
$myfont: "Karla", sans-serif;
* {
  font: 100% $myfont;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
 */

:root {
  --primary-color: #263238;
  --primary-color-darker: #000a12;
  --primary-color-lighter: #4f5b62;
  --secondary-color: #e0e0e0;
  // --accent-color: #b56d4c;
  --warn-color: #ffab91;
  --txt-color: #fafafa;
}
